<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyAnaliz</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyAnaliz.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="p-3 text-bg-dark border-bottom border-light">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link px-2 text-secondary" asp-controller="Home" asp-action="Index">Home</a></li>
                </ul>

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/icons/user.png" alt="ava" width="32" height="32" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small text-bg-dark">
                            <li><a class="dropdown-item text-bg-dark" asp-controller="Account" asp-action="Logout">Sign out</a></li>
                        </ul>
                    </div>
                }
                else 
                {
                    <div class="text-end">
                        <a asp-controller="Account" asp-action="Login"><button type="button" class="btn btn-outline-primary">Login</button></a>
                        <a asp-controller="Account" asp-action="Register"><button type="button" class="btn btn-outline-warning">Sign-up</button></a>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
